body {
  background: lightgrey;
}

#parentDiv {
  width: 600px;
  background: white;
  border: 1px solid black;
  height: 600px;
  padding: 1px;
  margin-top: 30px;
  margin-left: 380px;
}

#childDivOne {
  background: red;
  height: 70px;
}

#childDivTwo {
  background: yellow;
  height: 530px;
}

#childOne {
  background: blue;
  height: 490px;
  width: 390px;
  margin-left: 110px;
}

#childTwo {
  background: green;
  height: 40px;
  width: 390px;
  margin-left: 110px;
}